# Docker ports
MONGO_PORT=27017
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# Neo4j credentials
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j_password

# Keycloak (optionnel)
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# API
API_PORT=3001
MONGO_URI=mongodb://localhost:27017/connected
NEO4J_URI=bolt://localhost:7687